/* Reset */
html, body  {
	margin: 0;
	border: 0;
	padding: 0;
	background:  white;
    color: #ccc;
	width: 100%;
	height: 100%; 
}

@media screen and (prefers-color-scheme: dark) {
    html, body {
        color: antiquewhite;
        background: #333;
    }
}

address { font-style: normal }

/* Utils */

.clear:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

/* General */

a, a:link, a:visited, a:active {  
    color: #2255CC;
}
a:hover { 
    color: #3388DD;
}
@media screen and (prefers-color-scheme: dark) {
    a, a:link, a:visited, a:active {  
        color: #99bbee;
    }
    a:hover { 
        color: #99ccff;
    }
}
a, a:link, a:visited {  text-decoration: none; }
a:active, a:hover { text-decoration: underline; }

h1 a, 
h1 a:link, 
h1 a:visited { 
    color: black;
}
@media screen and (prefers-color-scheme: dark) {
    h1 a, 
    h1 a:link, 
    h1 a:visited { 
        color: #ddd;
    }
}
/*h1 a:active, h1 a:hover { color: #333; }*/

header, #body { 
    margin: 0 auto;
    width: 100%;
    max-width: 800px;   
    padding: 0;
}

header {
    font-family: Georgia, serif;
}

header address {
    margin-top: 0.5em;
}
header .logo {
    float: left;
    margin-right: 1em; 
    padding: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
header .logo img {
    border: 3px #596c73 solid;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}
header .logo img:not(:first-child) {
    display: none;
}

header .logo:hover img {
    display: block;
}
header .logo:hover img:first-child {
    display: none;
}

header h1 {
    float: left;
    padding-left: 1em;
}
#resume {
    float: right;
    margin: 2em;
}
#nav {
    font-family: Georgia, serif;
    float:  left;
    margin: 0;
    margin-top: 10px;
    margin-left: 40px;
    font-style: italic;
}
#nav ul {
    list-style: none;
}
#nav li {
    float: left;
    margin-left: 30px;
}

#nav li a { color: black; }


#body {
    clear: left;
}

.box {
    box-sizing: border-box;
    float: left;
    position: relative;
    margin: 5px 0 10px 10px;
    border: 3px gray solid;
    padding: 20px 10px 10px;
    background-color:  #ffffff;
    background-position: right -50px;
    background-repeat: no-repeat;
    min-height: 330px;
    max-height: 633px;
    width: 375px;
    font-family: Verdana, sans-serif;
    color: #444444;
}

.box > * {
    position: relative;
    z-index: 10;
}

@media screen and (prefers-color-scheme: dark) {
.box::after {

    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    background-color: rgba(30, 30, 30, 0.85);
    top: 0;
    left: 0;
    z-index: 1;
}
}


@media screen and (prefers-color-scheme: dark) {
    .box {
        background-color: #444;
        color: antiquewhite;
    }
}

.box h2 {
    display: none;
    margin: 0px; margin-bottom: 50px;
    padding: 0px;
    height: 50px;
    color: black;
    font-family: Georgia, serif;
}
.box ul {
    margin: 40px 0 0;
}

.box li {
    clear: both;
    list-style: none;
    margin-top: 1em;
}
.box .badge-frame {
    margin-left: 0em;
    margin-right: 2em;
    float: left;
}


.box li, .box dt, .box dd {
    margin-top: 30px;
    min-height: 50px;
}
.box dt, .box dd {
    float: left;
}
.box dt { 
    clear: left;
    width: 5em;
    text-align: right;
}

.badge-frame {
    position: relative;
    top: -22px;
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 15px;
}
.box dt img {
}

.badge-frame img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
}

#github img {
    margin-top: -12px;
    margin-left: -16px;
    width: 32px;
    height: 24px;
}
#twitter img {
    margin-top: -13px;
    height: 26px;
}


.box#bio { background-image: url('assets/bg1.png'); }
.box#work { background-image: url('assets/bg2.png'); }
.box#journals { background-image: url('assets/bg4.png'); }
.box#proj { background-image: url('assets/bg4.png'); }
.box#misc { background-image: url('assets/bg5.png'); }

#footer {
	text-align: center;
	font-size: smaller;
	font-style: italic;
}
#footer .content {
	vertical-align: text-bottom;
}

#footer:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
}

@media  (max-device-width : 568px) {
    header, #body {
	width: 100%;
    }
    header {
	margin: 1em 0 2em;
	text-align: center;
    }
    header img {
	float: none;
	display: block;
	margin: 0 auto;
    }
    header address {
	margin-top: -0.5em;
	position: relative;
	z-index: 1;
	background: rgba(255,255,255,0.85);
    }
    #resume { 
	margin: 1em;
	float: none;
    }

    .box { 
	min-height: 0 !important; /* TODO */
	width: 100%;
	margin-left: 0;
	margin-right: 0;
    }

    #footer { 
        display: none;
    }
}

